<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">

        <title>Sistema de Control de ASP | Centros</title>

        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

            <h2>Centro Details</h2>
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${centro.name}">name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Jefe de Brigada:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${centro.jefeBrigada}">Price</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>