body { padding-top: 70px; }

nav.navbar ul.navbar-nav a { color: #9d9d9d; border-style: solid; border-width: 0 0 2px 0; border-color: #222222; }
nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:visited,
nav.navbar ul.navbar-nav a:focus,
nav.navbar ul.navbar-nav a:active { background: #080808; }
nav.navbar ul.navbar-nav a:hover { border-color: #EE1C25; }